---
import { ClientLayout } from 'components/organisms';
import { Login } from 'components/templates';

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Login";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col max-w-[512px] mx-auto">
    <Login client:only />
  </div>
</BaseLayout>
